CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
pong
pong.self
pong.self.out
pong.velf
pong.vpk.out
pong.vpk_param.sfo
_deps

